<div id="header">
    <%=render 'user/header_find_menu'%>
</div>
<div id="left-menu">
    <%=render 'user/left_menu'%>
</div>
<div id="content">
<div id="top-menu">
    <%=render 'user/top_menu'%>
</div>
    <div id="content-wrapper" style="padding-left: 20px">
<h3>Изменить название приложения</h3>
<%= render 'form' %>
</div>
</div>

