<!DOCTYPE html>
<html>
<head>
    <title>Страница смены пароля</title>
  <%= stylesheet_link_tag "change_password" %>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>
